<h1>Editing cluster</h1>

<%= render 'form' %>

<td><%= link_to 'Show', @cluster,class: 'btn btn-success btn-xs' %></td> |
<td><%= link_to 'Back', clusters_path ,class: 'btn btn-warning btn-xs'%> </td>