<tr> 
  <td><%= prosumer.name %></td>
  <td>
    <%= form_for prosumer, :url => {:controller => "prosumers",  :id => prosumer.id, :action => "removefromcluster"} do |f| %>
      <%= f.submit "Remove", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
  
</tr>