<p> 
  <%= form_for prosumer, :url => {:controller => "prosumers",  :id => prosumer.id, :action => "removefromcluster"} do |f| %>
    <%= prosumer.name %>
    <%= f.submit "Remove", data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>