  <!--
  <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">Home</h1>
      </div>
  </div> 
  -->
      
  <div class="row">
   
     <div class="col-lg-12">
          <div class="panel panel-default">
               <div class="panel-heading">
                   VMGA DSS Platform
               </div><!-- /.panel-heading -->
               <div class="panel-body">
                   <p>VIMSEN researches: 1)on an intelligent data metering techniques suitable for the VMG distributed network, 2)on information and decision making technologies for the dynamic VMG creation in a way to optimize the participants’ benefits and macro-grid perspectives, 3)on a reliable communication infrastructure that permits Quality of Service (QoS) provisioning for data exchange in the VMG network and, 4)on an active energy management and control tool for the operation of the virtual micro-grid as a common virtual power unit
. The documentation for Flot Charts is available on their website.</p>
               </div> <!-- /.panel-body -->
          </div> <!-- /.panel -->
     </div>

                                
     <div class="col-lg-6">
          <div class="panel panel-default">
               <div class="panel-heading">
                    Energy Type Prosumers
               </div> <!-- /.panel-heading -->
               <div class="panel-body">
                    <div class="flot-chart">
                         <div class="flot-chart-content" id="energy-type-pie-chart"></div>
                    </div>
               </div> <!-- /.panel-body -->
          </div>  <!-- /.panel -->
     </div> <!-- /.col-lg-6 -->
     <div class="col-lg-6"> 
          <div class="panel panel-default">
               <div class="panel-heading">
                      Energy Market Price
               </div> <!-- /.panel-heading -->
               <div class="panel-body">
                  <div class="flot-chart">
                      <div class="flot-chart-content" id="energy-price-line-chart"></div>
                  </div>
               </div> <!-- /.panel-body -->
          </div>  <!-- /.panel -->
     </div>
                
     
     <div class="col-lg-12">
          <div class="panel panel-default">
               <div class="panel-heading">
                   Total Prosumption Per Day Hour
               </div> <!-- /.panel-heading -->
               <div class="panel-body">
                    <div class="flot-chart">
                         <div class="flot-chart-content" id="prosumption-line-chart"></div>
                    </div>
               </div> <!-- /.panel-body -->
          </div> <!-- /.panel -->
     </div>  <!-- /.col-lg-12 -->
                
                
     <div class="col-lg-6">
          <div class="panel panel-default">
               <div class="panel-heading">
                   Top 5 Energy Producers
               </div> <!-- /.panel-heading -->
               <div class="panel-body">
                    <div class="flot-chart">
                         <div class="flot-chart-content" id="top5-producers-bar-chart"></div>
                    </div>
               </div> <!-- /.panel-body -->
          </div> <!-- /.panel -->
     </div>
     <div class="col-lg-6">
          <div class="panel panel-default">
               <div class="panel-heading">
                     Top 5 Energy Consumers
               </div> <!-- /.panel-heading -->
               <div class="panel-body">
                    <div class="flot-chart">
                         <div class="flot-chart-content" id="top5-consumers-bar-chart"></div>
                    </div>
               </div> <!-- /.panel-body -->
          </div> <!-- /.panel -->
     </div>
                
   </div>  <!-- /.row -->
   
<script>
	$(document).ready(function() {
    	loadHomeCharts();
	});
</script>
