<%= javascript_include_tag "chart" %>
<div>
  <div id="placeholder" style="width:100%;height:400px;min-width=600px"></div>
  <div id="controls">
    <input id="startDate" type="text" />
    <input id="endDate" type="text"/><br/>
    <strong>Real-time updates?</strong>
    <input id="realtime" type="checkbox" checked>
    <button id="subDates"> Set </button>
    <br/>
  </div>
</div>
<script>  
   
    var idata = <%= prosumer.request_cached(3, (DateTime.now - 2.days), DateTime.now).to_json.html_safe %>;
    
    console.log(idata);

    $(document).ready(function() {
        plotHelper.drawChart("<%= stream %>", idata);
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker();
        $('#endDate').prop('disabled', true);
        $('#subDates').click(function () {
            var s = $('#startDate').val();
            var e = $('#endDate').prop("disabled") ? '' : $('#endDate').val();
            var params= '';
            if (s || e ) {
              params += '?';
            } 
            if (s) {
              params += 'startdate=' + s;
              if (e) {
                params += '&';
              }
            }
            if (e) {
              params += 'enddate=' + e
            }
            plotHelper.drawChart("<%= stream %>" + params, null);
        });
        $('#realtime').change(function () {
            console.log(this.checked);
            if (this.checked) {
              $('#endDate').prop( "disabled", true );
            } else {
              $('#endDate').prop( "disabled", false );
            }
        });
    });
</script>

