<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: <%= defined?(height) ? height : "400px" -%>;'></div>
</div>
<script>
  $(function() {
          
    handler = Gmaps.build('Google');
    handler.buildMap({
      provider : {},
      internal : {
        id : 'map'
      }
    }, function() {
      markers = handler.addMarkers( <%= prosumers.map{|p| { 
                                  lat: p.location_x, 
                                  lng: p.location_y,
                                  picture: {
                                    url: "https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=#{letter(p, clustering)}|#{color(p, clustering)}|000000",
                                    width: 36,
                                    height: 36
                                  },
                                  infowindow: render(partial: "prosumers/prosumername", :locals => {:prosumer => p})  
                } }.to_json.html_safe -%> )
     
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      <% if prosumers.count == 1 %>
          handler.getMap().setZoom(9);
      <% end %>
    });
  });

</script>
