<p id="notice"><%= notice %></p>

<p>
  <strong>Interval:</strong>
  <%= @demand_response.interval %>
</p>

<%= link_to 'Edit', edit_demand_response_path(@demand_response) %> |
<%= link_to 'Back', demand_responses_path %>
