<a class="btn btn-block btn-social btn-google-plus"> <i class="fa fa-pinterest"> New data_point </i> </a> 

<%= render 'form' %>

<td><%= link_to 'Back', data_points_path ,class: 'btn btn-warning btn-xs'%> </td>