<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building_type.name %>
</p>

<%= link_to 'Edit', edit_building_type_path(@building_type) %> |
<%= link_to 'Back', building_types_path %>
