<h1>Editing measurement</h1>

<%= render 'form' %>

<td><%= link_to 'Show', @measurement,class: 'btn btn-success btn-xs' %></td> |
<td><%= link_to 'Back', measurements_path ,class: 'btn btn-warning btn-xs'%></td>
