
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Tasks</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Select Monitoring Period
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-1 control-label">Period</label>
            <div class="col-sm-2">
              <select  class="form-control" id="resources_period" name="resources_period">
                <% if @period=="day" %> 
                  <option value="day">Day</option>
                <% else %>
                  <option value="day" selected>Day</option>
                <% end %> 
                <% if @period=="month" %>
                   <option value="month" selected>Month</option>
                <% else %>
                   <option value="month">Month</option>
                <% end %>
                <% if @period=="year" %>
                   <option value="year" selected>Year</option>
                <% else %>
                   <option value="year">Year</option>
                <% end %>
              </select>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="datepicker" name="date" value="<%= @date.to_s %>"/>
            </div>           
            <button type="submit" class="btn btn-primary">Show</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Summary
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Total Tasks</label>
            <label class="col-sm-2 control-label text-label" id="total_tasks"></label>
            <label class="col-sm-2 control-label">Failed Tasks</label>
            <label class="col-sm-2 control-label text-label" id="failed_tasks"></label>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-lg-6">
   <div class="panel panel-default">
      <div class="panel-heading">
         Total Tasks Per Cloud Provider
      </div>
      <div class="panel-body">
         <div class="flot-chart-min">
             <div class="flot-chart-content" id="total-tasks-chart"></div>
         </div>
      </div>
   </div>
 </div>
 <div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        Failed Tasks Per Cloud Provider
    </div>
    <div class="panel-body">
      <div class="flot-chart-min">
        <div class="flot-chart-content" id="failed-tasks-chart"></div>
      </div>
    </div>
   </div>
 </div>
</div>

<div class="row">
 <div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        Tasks - Static Provider Machine Types
    </div>
    <div class="panel-body">
      <div class="flot-chart-min">
        <div class="flot-chart-content" id="tasks-static-chart"></div>
      </div>
    </div>
   </div>
 </div>
  <div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        Tasks - OpenStack Provider Machine Types
    </div>
    <div class="panel-body">
      <div class="flot-chart-min">
        <div class="flot-chart-content" id="tasks-openstack-chart"></div>
      </div>
    </div>
   </div>
 </div>
</div>

<div class="row">
 <div class="col-lg-6">
   <div class="panel panel-default">
      <div class="panel-heading">
        Tasks - AWS Provider Machine Types
      </div>
      <div class="panel-body">
         <div class="flot-chart-min">
              <div class="flot-chart-content" id="tasks-aws-chart"></div>
         </div>
      </div>
   </div>
 </div>
  <div class="col-lg-6">
   <div class="panel panel-default">
      <div class="panel-heading">
        Tasks - RackSpace Provider Machine Types
      </div>
      <div class="panel-body">
         <div class="flot-chart-min">
              <div class="flot-chart-content" id="tasks-rackspace-chart"></div>
         </div>
      </div>
   </div>
 </div>
</div>


 <script type="text/javascript">

  $(document).ready(function() {
 
    $('#datepicker').datetimepicker({
      dateFormat: 'yy-mm-dd',
      format: 'Y-m-d',
      timepicker: false,
      onChangeDateTime: function(dp,$input){
        $('#dateform').submit();
      }
    });
     CloudPlatforms.loadTasksData('<%= @response_tasks %>');
  } );

</script>

