<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Monitor SLA progress
    </h3>
  </div>
  <!-- /.col-lg-12 -->
</div>


<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bid info
      </div>
      <div class="panel-body">
        Accepted bids for : <%= @date  -%>:
        <ul>
          <% @accepted_bids.each do |bid| %>
            <li> <%= link_to bid.mo_id, bid -%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Date
      </div>
      <div class="panel-body">
        <form id="dateform">
        <input type="text" id="datepicker" name="date" value="<%= @date.to_s %>" class="form-control">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Progress
      </div>
      <div class="panel-body">
        <div id="monitor_plot" style="height: 400px; width: 100%;" ></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    var plot_options = {
      series: {
        lines: {
          show: true
        },
        points: {
          show: true
        }
      },
      grid: {
        hoverable: true,
        clickable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: "'%s'<br/>%x<br/>%y.2",
        shifts: {
          x: -60,
          y: 25
        }
      },
      xaxis: {
        mode: "time",
        timeformat: "%d/%m/%Y<br/>%h:%M:%S",
        timezone: "browser",
        ticks: 2 /*,
         timeformat : "%y/%m/%d-%h:%M:%S",
         tickSize : [12, "hour"]*/
      },
      yaxis: {
        tickDecimals: 2
      },
      legend:{
        container: null,
        noColumns: 0
      }
    };

    var data = <%= JSON.pretty_generate(@chart_data).html_safe -%>;

    $.plot("#monitor_plot", data, plot_options);

    $('#datepicker').datetimepicker({
      dateFormat: 'yy-mm-dd',
      format: 'Y-m-d',
      timepicker: false,
      onChangeDateTime: function(dp,$input){
        $('#dateform').submit();
      }
    });

  });
</script>