/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap_navbar_split_dropdowns
 *= require bootstrap-table.min
 *= require_tree .
 *= require_self
 *= require jquery.datetimepicker
 *= require font-awesome
 *= require jquery.dynatable
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


.navbar-header-img{
    margin-top:5px;
    margin-left:20px;
}

.navbar-header-text{
   margin-left:10px;
   margin-top:5px;
   font-size:18px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav > li > a:hover, .nav > li > a:focus {
  color: #000000;
}

/*
.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}
*/



@media (min-width: 992px) {
  .equal > .col-md-6 > .panel > .panel-body {
    height: 270px;
    overflow-y: auto;
//    min-height: 270px;
  }
}

@media (min-width: 1200px) {
  .equal > .col-lg-6 > .panel > .panel-body {
    height: 270px;
    overflow-y: auto;
//    min-height: 270px;
  }
}

.terminal {
  font-family: courier;
  overflow: auto;
  max-height:200px;
}

.flot-tick-label{
  word-wrap: break-word;
}
