// Place all the styles related to the cloud_platform controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instance-result{
	color: blue;
	text-decoration: underline;
}

.text-label {
	font-weight: normal !important;
	text-align: left !important;
}
