// Place all the styles related to the market_prices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mo-selectors{
  display: none;
}

.select-space {
   padding: 15px 0 15px 0;
}

.label-space {
  padding:25px 0 25px 0;
}
