<!--
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger">
    <%= alert %>
  </p>
  <% end %>
  
</div>
-->

<%= yield %>