 <div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse">
     <%= render_navigation  :expand_all => true, :renderer => :bootstrap %>
       
   </div>  <!-- /.sidebar-collapse -->
  
 </div> <!-- /.navbar-static-side -->

</nav>

<script>
  $(function() {
    // Hack to make the menu not a dropdown
        
    $('#side-menu').metisMenu();
    $('.sidebar').find('.dropdown-menu').removeClass('dropdown-menu');
    $('div.navbar-collapse').addClass('collapse') // This collapses the menu on mobile screen
});	
</script>
