  	
  <div class="col-sm-3 col-md-2 sidebar">
     <ul class="nav nav-sidebar" id="navigation-menu">
        <li id="nav-item-1" onclick="highlightNavigation(this);"><a href="/home">Home</a></li>
        <li id="nav-item-2" onclick="highlightNavigation(this);">
          <%= link_to "Prosumers", prosumers_path %>
        </li>
        <li id="nav-item-3" onclick="highlightNavigation(this);">
          <%= link_to "Measurements", measurements_path %>
        </li>
        <li id="nav-item-4" onclick="highlightNavigation(this);">
          <%= link_to "Clusters", clusters_path %>
        </li>
        <li id="nav-item-5" onclick="highlightNavigation(this);"><a href="/machines">Machines</a></li>
        <li id="nav-item-6" onclick="highlightNavigation(this);"><a href="#">Reasons</a></li>
		<hr>
	    <li id="nav-item-7" onclick="highlightNavigation(this);"><a href="#">Item ...</a></li>
     </ul>
</div>
               
